  <div *ngIf="isHost" class="mb-8">
    <label class="block text-[10px] uppercase tracking-widest text-purple-500 font-bold mb-3">Host: Select Grid Size</label>
    <div class="grid grid-cols-3 gap-2">
      <button *ngFor="let type of gameTypes" 
        (click)="onGameTypeChange(type)"
        [class]="currentGameType === type ? 'border-cyan-500 bg-cyan-500/10 text-cyan-500' : 'border-slate-800 bg-slate-900 text-slate-400'"
        class="py-2 text-[10px] font-black rounded-xl border transition-all hover:border-cyan-500/50">
        {{ type }}
      </button>
    </div>
  </div>
      <select [(ngModel)]="selectedLoadoutId" 
      [disabled]="!currentGameType"
      class="w-full bg-slate-900 border border-slate-800 rounded-xl p-3 text-sm outline-none focus:border-cyan-500 transition-all cursor-pointer">
      <option value="" disabled selected>Choose a configuration</option>
      <option *ngFor="let l of availableLoadouts" [value]="l.id">{{ l.name }}</option>
    </select>